@import "../../styles/core";

.lautering-calculator {
	margin-top: 30px;
	display: flex;
	background: $blue;
}

.inputs {
	flex-grow: 1;
	padding: 20px;
}

.inputs-title {
	margin-bottom: 20px;
	font-size: 36px;
}

.double-section {
	display: flex;
	justify-content: space-between;
	> * {
		flex-grow: 1;

		&:first-child {
			padding-right: 20px;
		}

		&:last-child {
			padding-left: 20px;
		}
	}
}

.input-section {
	margin-bottom: 20px;

}

.input-section-title {
	@include small-caps();
	margin-bottom: 5px;
	font-size: 12px;
}

.regular-input {
	width: 100%;
	> input {
		width: 100%;
	}
}


.efficiency {
	width: 350px;
	background: $light-blue;
	padding: 20px;
	color: $dark-blue;
}

.efficiency-title {
	width: 100%;
	text-align: center;
	@include small-caps();
}

.efficiency-number {
	text-align: center;
	font-size: 80px;
	line-height: 140px;
}

.grains-section-title {
	@include small-caps();
	margin-bottom: 5px;
	font-size: 24px;
}

.grain-card {
	background: rgba($not-white, 0.1);
	padding: 20px;
	display: flex;
	margin-bottom: 10px;
	border-radius: 5px;
}

.grain-content {
	flex-grow: 1;
	> select {

	}

	> .input-section {

	}
}

.remove-grain-button {
	margin-left: 20px;
	width: 40px;
	background: transparent;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	&:hover {
		background: rgba($red, 0.1);
	}
}

.more-grains-button {
	width: 100%;
	background: $dark-blue;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
	font-size: 24px;
	color: $not-white;
	&:hover {
		background: rgba($dark-blue, 0.9);
	}
}