<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../style.css"/>
		<link rel="stylesheet" type="text/css" href="../../styles/header.css"/>
		<link rel="stylesheet" type="text/css" href="./lautering-calculator.css"/>
		<title>Lautering Calculator</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/vue-select@latest"></script>
	</head>
	<body>
		<div class="header">
			<a href="../../index.html">
				Brewing Tools
			</a>
		</div>
		<div class="body-content">
			<h1>
				Lautering Efficiency Calculator
			</h1>
			<div class="lautering-calculator" id="app" >
				<div class="inputs">
					<div class="inputs-title">
						Enter yo digits...
					</div>
					<div class="double-section">
						<div class="input-section">
							<div class="input-section-title">
								Wort Volume (Gallons)
							</div>
							<div class="regular-input">
								<input type="number" placeholder="dat volume in dat dere pot" v-model="wortVolume">
							</div>
						</div>
						<div class="input-section">
							<div class="input-section-title">
								Gravity Measurement (1.xxx)
							</div>
							<div class="regular-input">
								<input type="number" placeholder="how heavy is yo shit" v-model="gravityMeasurement">
							</div>
						</div>
					</div>
					<div class="grains-section">
						<div class="grains-section-title">
							Grains
						</div>
						<div class="grain-list" v-for="(grain, index) in grains">
							<grain-card
								v-bind:grain="grain"
								v-bind:remove-grain-at-index="removeGrainAtIndex"
								v-bind:index="index"
								v-bind:number-of-cards="grains.length"
							/>
						</div>
						<button class="more-grains-button" v-on:click="addNewGrain">
							Add more grains
						</button>
					</div>

				</div>
				<div class="efficiency">
					<div class="efficiency-title">
						Your efficiency is
					</div>
					<div class="efficiency-number">
						{{efficiency}}
					</div>
					<div v-if="Number.parseFloat(efficiency) > 100" class="efficiency-warning">
						Seems a bit high.<br><br>Check your numbers?
					</div>
					<div v-if="Number.parseFloat(efficiency) < 30" class="efficiency-warning">
						Seems a bit low.<br><br>Check your numbers?
					</div>
				</div>
			</div>
		</div>

		<script src="./lautering-calculator.js" type="module"></script>
	</body>
</html>