@import "styles/reset";
@import "styles/core";


body {
	font-size: 16px;
	background: $red;
	color: $not-white;
	@include fira-sans();
}

h1 {
	@include berkshire-swash();
	font-size: 64px;
	background: $dark-blue;
	padding: 10px;
	display: inline-block;
	margin: 0;
}

a {
	color: $dark-blue;
	&:hover {
		color: $blue;
	}
}

.body-content {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 200px;
}

