@import "styles/reset";
@import "styles/core";
@import "styles/inputs";
@import "styles/library-overrides/vue-select.scss";

body {
	font-size: 16px;
	background: $red;
	color: $not-white;

	@include fira-sans();
	padding: 15px;
}

h1 {
	@include berkshire-swash();

	font-size: 64px;
	padding: 10px 0;
	display: inline;
	margin: 0;
	line-height: 100px;
}

a {
	color: $dark-blue;

	&:hover {
		color: $blue;
	}
}

.body-content {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 80px;
}

@media (max-width: 800px) {
	.body-content {
		padding-top: 30px;
	}

	h1 {
		font-size: 36px;
		line-height: 50px;
	}
}