@import "core";

.footer {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	cursor: pointer;

	> a {
		height: 30px;
		width: 30px;
		margin: 0 5px;
		opacity: 0.5;
		transition: all 300ms ease;

		&:hover {
			opacity: 0.8;
		}

		> object {
			height: 100%;
			width: 100%;
			pointer-events: none;
		}
	}
}


.question-mark,
.twitter,
.github {
	fill: $white;
}
