@import "core";

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: $dark-blue;
	color: $not-white;
	padding: 5px;
	line-height: 30px;
	font-size: 30px;
	@include berkshire-swash();

	> a {
		text-decoration: none;
		color: $not-white;
	}
}

body {
	padding-top: 40px;
}